<div class="container mt-5">
	<div class="card">
		<div class="card-header">
			<p class="text-center m-0">Edit Producto</p>
		</div>
		<div class="card-body">
			<app-form *ngIf="model" [modelProduct]="model" (submitValues)="onSubmit($event)"></app-form>
		</div>
	</div>
</div>
