<div class="container mt-4">
	<div class="card">
		<div class="card-header d-flex justify-content-between align-items-center">
			<p class="m-0">Frontend API</p>
			<a routerLink="/create" class="btn btn-primary"><fa-icon [icon]="faCirclePlus"></fa-icon></a>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table">
					<thead class="table-info">
						<tr>
							<th>Id</th>
							<th>Description</th>
							<th>Price</th>
							<th>Stock</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let product of products; let i = index">
							<td>{{i}}</td>
							<td>{{product.description}}</td>
							<td>{{product.price}}</td>
							<td>{{product.stock}}</td>
							<td>
								<a routerLink="/update/{{product._id}}" class="btn btn-primary me-3"><fa-icon [icon]="faPen"></fa-icon></a>
								<button (click)="delete(product._id, i)" class="btn btn-danger"><fa-icon [icon]="faTrash"></fa-icon></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
