
<form [formGroup]="formProduct" (ngSubmit)="onSubmit()">
	<div class="mb-3">
		<label for="description" class="form-label">Description</label>
		<input type="text" class="form-control" formControlName="description" id="description">
	</div>
	<div class="mb-3">
		<label for="price" class="form-label">Price</label>
		<input type="number" class="form-control" formControlName="price" id="price">
	</div>
	<div class="mb-3">
		<label for="stock" class="form-label">Stock</label>
		<input type="number" class="form-control" formControlName="stock" id="stock">
	</div>

	<div>
		<button [disabled]="!formProduct.valid" type="submit" class="btn btn-outline-primary me-3">Submit</button>
		<a routerLink="/" class="btn btn-outline-secondary">Cancelar</a>
	</div>
</form>
